<ul class="nav nav-pills nav-stacked" role="tablist">
  <li role="presentation" class="active"><a href="#">Dashboard</a></li>
  <li role="presentation" >
  <%= link_to 'Announcements', posts_path %>
  </li>
  <li role="presentation" >  
  <%= link_to 'Programme', programmes_path %>
  </li>
  <li role="presentation"><a href="#">Programme</a></li>
  <li role="presentation"><a href="#">Academy</a></li>
  <li role="presentation"><a href="#">Timetable</a></li>  
</ul>